# python compiled files
__pycache__/
*.pyc

# MAC OS X
.DS_Store

# database
db.sqlite3

# JS+CSS libraries and fonts
bower_components/

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
