{% extends "index.html" %}

{% block title %}Produto | Acadjimia{% endblock %}

{% block content %}
<div class="row row-content">
    <div class="col-xs-12">
        <h1 align=center>{{ course.name }}<span class="badge">R$ {{ course.price }}</span></h1>
    </div>
    <div class="col-sm-4">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/350x250" alt="" />
        </a>
    </div>
    <div class="col-sm-8">
        <p>Começa em: {{ course.start_date | date }}</p>
        <p>{{ course.description|linebreaks }}</p>
        {% if user.is_authenticated %}
            {% if user in course.enrolled.all %}
                <p><a href="{% url 'catalog:enroll' course.slug %}"
                    class="btn btn-success disabled">Inscrito</a></p>
            {% else %}
                <p><a href="{% url 'catalog:enroll' course.slug %}"
                    class="btn btn-success">Inscrever-se</a></p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
